.DS_Store
/node_modules_backup
/node_modules
/packages/*/node_modules
*.log
*.cache
/build
/.eslintcache
/browser.js
/browser-polyfill.js
/runtime.js
coverage
dist
/.package.json

/packages/babel-register/test/.babel
/packages/babel-cli/test/tmp
/packages/babel-node/test/tmp
#/packages/*/lib
.nyc_output
/babel.sublime-workspace
#/codemods/*/lib
/codemods/*/node_modules
/packages/babel-parser/build
.idea/
/.changelog
