.npmrc

.DS_Store
/node_modules_backup
node_modules
*.log
*.cache
# /build
/.eslintcache
coverage
# dist
/.package.json

/packages/babel-runtime-corejs3/helpers/*.js
/packages/babel-runtime-corejs3/helpers/esm/*.js
/packages/babel-runtime-corejs3/core-js/**/*.js
/packages/babel-runtime-corejs3/core-js-stable/**/*.js

/packages/babel-register/test/.babel
/packages/babel-cli/test/tmp
/packages/babel-node/test/tmp
.nyc_output
/babel.sublime-workspace
/codemods/*/node_modules
.idea/
/.changelog
/tmp/
/desktop.ini
